# Billing Service Environment Variables
PORT=8004
MONGODB_URL="mongodb+srv://<user>:<password>@cluster0.mongodb.net/zen_billing"
AUTH_SERVICE="http://localhost:8001"
RAZORPAY_KEY_ID="rzp_test_your_key"
RAZORPAY_KEY_SECRET="your_secret"
